/* Beakermentions (index.css) - Read and send responses on what you're currently viewing  *
 * on Beaker Browser.                                                                     *
 *                                                                                        *
 * Written in 2020 by Don Geronimo <email@sentamal.in>                                    *
 *                                                                                        *
 * To the extent possible under law, the author(s) have dedicated all copyright           *
 * and related and neighboring rights to this software to the public domain               *
 * worldwide. This software is distributed without any warranty.                          *
 *                                                                                        *
 * You should have received a copy of the CC0 Public Domain Dedication along              *
 * with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.   */

:root {
   --default-border: 1px solid var(--border-color);
}

body * {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--app-background-color);
  color: var(--text-color);
}

.hidden {
  visibility: hidden;
}

#mentions {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#loading, #blank, #no-endpoint, #no-replies, #config {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blank img {
  opacity: 0.25;
}

#loading p, #no-endpoint p, #no-replies p {
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
}

#file, #mentions > .mention > header, #mention-sender {
  background-color: var(--header-background-color);
}

#file {
  width: 100%;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--default-border);
}

#file-meta {
  display: flex;
  align-items: center;
}

#file-meta * {
  display: block;
  margin-right: 0.5rem;
}

#file-meta img {
  width: 1rem;
  height: auto;
  border-radius: 50%;
}

#file-meta h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#file-actions {
  display: flex;
  align-items: center;
}

#file-actions * {
  display: block;
  margin: 0 0.25rem;
}

#file-actions *:last-child {
  margin-right: 0;
}

.mention {
  background-color: var(--miniwindow-background-color);
}

#mentions > .mention {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  border: var(--default-border);
  border-radius: 5px;
}

#mentions > .mention > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nested-mentions {
  padding: 0 !important;
}

#mentions > .mention > *:first-child {
  padding-top: 0.5rem;
}

#mentions > .mention > *:last-child {
  padding-bottom: 0.5rem;
}

#mentions > .mention > header {
  padding-bottom: 0.5rem;
  border-bottom: var(--default-border);
}

#mentions > .mention > header > .mention-meta {
  display: flex;
  align-items: center;
}

#mentions > .mention > header > .mention-meta img {
  width: 1rem;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

#mentions > .mention > header > .mention-meta h1 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#mentions > .mention > footer {
  padding-bottom: 0.5rem;
}

.mention {
  font-size: 0.75rem;
}

.mention > footer {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.mention > footer * {
  display: block;
  margin: 0 0.25rem;
}

.mention > footer *:last-child {
  margin-right: 0;
}

.nested-mentions > .mention {
  border-top: var(--default-border);
}

.nested-mentions > .mention > header > .mention-meta {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}

.nested-mentions > .mention > header > .mention-meta img {
  width: 0.75rem;
  height: auto;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.nested-mentions > .mention > header > .mention-meta h1 {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.nested-mentions > .mention > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#mention-sender {
  width: 100%;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: var(--default-border);
  display: flex;
  font-size: 1rem;
}

#mention-sender label {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

#sender-text, #sender-send {
  padding: 0.5rem;
}

#sender-text, #sender-attach, #sender-send {
  border-style: solid;
}

#sender-text, #sender-attach {
  border-color: var(--border-color);
}

#sender-text {
  width: 100%;
  border-width: 1px 0;
  background-color: var(--input-background-color);
  color: var(--text-color);
}

#sender-send {
  border-radius: 0 5px 5px 0;
  border-width: 1px 1px 1px 0;
  border-color: var(--send-button-border-color);
  font-weight: bold;
  background-color: var(--highlight-color);
  color: var(--send-button-text-color);
}

#sender-attach {
  border-radius: 5px 0 0 5px;
  border-width: 1px 0 1px 1px;
  font-weight: bold;
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding: 0.5rem 0 0.5rem 0.5rem;
}

div.visual-media {
  padding: 0.5rem 0 0 0 !important;
}

#mentions > .mention > div.visual-media {
  padding-top: 0 !important;
}

div.visual-media * {
  width: 100%;
  height: auto;
}

footer.visual-media {
  padding-top: 0.5rem;
}

#mentions > .mention > footer.visual-media {
  padding-top: 0.5rem;
}

.file-url, .mention-url {
  text-decoration: none;
  color: var(--text-color);
}