/* Beakermentions (light.css) - Read and send responses on what you're currently viewing  *
 * on Beaker Browser.                                                                     *
 *                                                                                        *
 * Written in 2020 by Don Geronimo <email@sentamal.in>                                    *
 *                                                                                        *
 * To the extent possible under law, the author(s) have dedicated all copyright           *
 * and related and neighboring rights to this software to the public domain               *
 * worldwide. This software is distributed without any warranty.                          *
 *                                                                                        *
 * You should have received a copy of the CC0 Public Domain Dedication along              *
 * with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.   */

:root {
  --text-color: #474747;
  --border-color: #bbb;
  --highlight-color: #2864dc;
  --app-background-color: #eaeaf2;
  --header-background-color: #fafafa;
  --miniwindow-background-color: #fff;
  --input-background-color: #fff;
  --send-button-text-color: #fff;
}

a {
  color: var(--highlight-color);
}